Host *
LogLevel QUIET
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
ControlMaster auto
ControlPersist 10m
ControlPath ~/.ssh/instance_socket-%r@%h:%p
ForwardAgent yes


#Common
Host                *
IdentityFile        ~/.ssh/client/aws.pem

#vpn
Host                0.0.0.0
IdentityFile        ~/.ssh/client/aws.pem

# dmz-vpc-prv-ip
Host 10.1.*
ProxyCommand           ssh -i ~/.ssh/client/dmz-main.pem -W %h:%p ubuntu@0.0.0.0
User                   ubuntu
IdentityFile           ~/.ssh/client/aws.pem

#vpn
Host                   0.0.0.0
IdentityFile            ~/.ssh/client/aws.pem

# prod-vpc-prv-ip
Host 10.20.*
ProxyCommand           ssh -i ~/.ssh/client/aws.pem -W %h:%p ubuntu@0.0.0.0
User                   ubuntu
IdentityFile           ~/.ssh/client/aws.pem

#vpn
Host                   0.0.0.0
IdentityFile            ~/.ssh/client/aws.pem

# stage-vpc-prv-ip
Host 10.21.*
ProxyCommand           ssh -i ~/.ssh/client/aws.pem -W %h:%p ubuntu@0.0.0.0
User                   ubuntu
IdentityFile           ~/.ssh/aws.pem
