name: tf-checks
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  complete-do-module:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@53128e9bc79fcdc6acba280d4810660e8d2bed10
    with:
      provider: digitalocean
      working_directory: './terraform/sandbox/blr1/'

# Seperate Job for TFlint workflow call
  tf-lint:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-lint.yml@master
    secrets:
      GITHUB: ${{ secrets.GITHUB }}
